<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Редактировать Заказ</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Редактировать Заказ</h1>
<form th:action="@{/orders/update/{id}(id=${order.id})}" th:object="${order}" method="post">
  <div>
    <label for="orderDate">Дата Заказа:</label>
    <input type="datetime-local" id="orderDate" th:field="*{orderDate}" />
    <span th:if="${#fields.hasErrors('orderDate')}" th:errors="*{orderDate}"></span>
  </div>
  <div>
    <label for="user">Пользователь:</label>
    <select id="user" th:field="*{user.id}">
      <option value="" disabled>Выберите пользователя</option>
      <option th:each="user : ${users}"
              th:value="${user.id}"
              th:text="${user.name}"
              th:selected="${user.id} == ${order.user.id}">Пользователь</option>
    </select>
    <span th:if="${#fields.hasErrors('user')}" th:errors="*{user}"></span>
  </div>
  <div>
    <button type="submit">Обновить</button>
    <a th:href="@{/orders}">Отмена</a>
  </div>
</form>
</body>
</html>
