<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Платежи</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Платежи</h1>
<a th:href="@{/payments/new}">Создать Новый Платеж</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Метод Платежа</th>
        <th>Дата Платежа</th>
        <th>Сумма</th>
        <th>Заказ</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="payment : ${payments}">
        <td th:text="${payment.id}">1</td>
        <td th:text="${payment.paymentMethod}">Метод Платежа</td>
        <td th:text="${#temporals.format(payment.paymentDate, 'yyyy-MM-dd HH:mm')}">Дата Платежа</td>
        <td th:text="${payment.amount}">Сумма</td>
        <td th:text="'Заказ #' + ${payment.order.id}">Заказ</td>
        <td>
            <a th:href="@{/payments/{id}(id=${payment.id})}">Просмотр</a> |
            <a th:href="@{/payments/edit/{id}(id=${payment.id})}">Редактировать</a> |
            <a th:href="@{/payments/delete/{id}(id=${payment.id})}"
               onclick="return confirm('Вы уверены, что хотите удалить этот платеж?');">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
