<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создать Поставщика</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Создать Поставщика</h1>
<form th:action="@{/suppliers}" th:object="${supplier}" method="post">
    <div>
        <label for="name">Название:</label>
        <input type="text" id="name" th:field="*{name}" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div>
        <label for="contactEmail">Email Контакта:</label>
        <input type="email" id="contactEmail" th:field="*{contactEmail}" />
        <span th:if="${#fields.hasErrors('contactEmail')}" th:errors="*{contactEmail}"></span>
    </div>
    <div>
        <button type="submit">Создать</button>
        <a th:href="@{/suppliers}">Отмена</a>
    </div>
</form>
</body>
</html>
